<!DOCTYPE html>
<html>
<head>
  <title>Pco</title>
  <%= stylesheet_link_tag    "pco/application", media: "all" %>
  <%= javascript_include_tag "pco/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
