<!DOCTYPE html>
<html lang="en"> 
<head>
  <!-- Required meta tags --> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Set planner | Gospel Toolbox</title>
  <%= stylesheet_link_tag    "set_planner/application", media: "all" %>
  <%= javascript_include_tag "set_planner/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
