<!DOCTYPE html>
<html>
<head>
  <title>Set planner</title>
  <%= stylesheet_link_tag    "set_planner/application", media: "all" %>
  <%= javascript_include_tag "set_planner/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
